
body{
 font-family: 'Open Sans', sans-serif;
}
.demo-ribbon {flex-shrink: 0;

  width: 100%;height: 40vh;background-color: #3F51B5;
  }
.header-height {
  min-height: 100px;
}
.demo-main {flex-shrink: 0;

  margin-top: -35vh;
  }

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {width: calc(100% - 16px);
  max-width: 1600px;margin: 0 auto;
  }

.demo-content {margin-bottom: 80px;padding: 80px 56px;

  border-radius: 2px;
  }

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
.mdl-textfield--full{
      width: 800px;
}
.mdl-textfield--midle{
      width: 500px;
}
.mdl-textfield--small{
      width: 200px;
}
.mdl-cell--no-margin{
  margin: 0px;padding: 0px;
  }
.mdl-cell--margin-left{
  margin-left: 30px;
}
.text-align{
  text-align: center;
}
.logo{width: 160px;height: 70px;
  padding-top: 30px;
  }
.mdl-textfield__input{
  font-family: 'Open Sans', sans-serif;font-weight: normal;
  }
p{
  font-size: 16px;font-weight: bold;
    }